@import "../Scss/includes";
@import "../Scss/extend";

#Berries {
  //   min-height: 331px;
  width: 100%;
  min-height: 330px;
  background-color: #1d1d1d;
  //   background-color: linear-gradient(
  //     90.18deg,
  //     #1d1d1d 31.74%,
  //     #1d1d1d 90.49%,
  //     #1d1d1d 90.49%
  //   );
  padding-top: 54px;
  padding-left: 102px;
  padding-bottom: 50px;

  @include image("../../assets/berry.svg");

  @include anyScreen(992px) {
    @include flex-column;
    width: 100%;
    min-height: 90vh;
    padding-top: 41px;
    background-position: center;
    @include mobile("../../assets/mobileBg.svg");
    padding: unset;
    padding-left: 10vw;
    padding-right: 10vw;

    .section {
      text-align: center;
      h2 {
        width: 100%;
        min-height: 63px;
        // padding-right: 49px;
        // padding-left: 49px;
      }
      p {
        width: 100%;
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 400;
        line-height: 30.8px;
        text-align: justify;
      }
    }
  }

  .section {
    overflow: hidden;
  }
  h2 {
    width: 363px;
    height: 63px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36.57px;
    letter-spacing: 0.1854em;
    // text-align: left;
    color: white;
  }
  p {
    width: 56%;
    // height: 100px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.8px;
    // text-align: justify;
    color: white;
    // margin-bottom: 33px;
  }

  button {
    // display: block;
    width: 139px;
    height: 32px;
    margin-top: 33px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 18.29px;
    text-align: center;
    color: white;
    background-color: transparent;
    outline: none;
    border: unset;
    border-right: 2px solid white;
    border-left: 2px solid white;
    cursor: pointer;
  }
  //   }
}
