@import "../Scss/variables";
@import "../Scss/extend";
@import "../Scss/includes";

#Profile {
  max-width: 1920px;
  overflow: hidden;

  //   @extend .width100;
  background-color: $background-color;
  @include background("../../assets/images/rectangle 67.png");

  @include anyScreen(992px) {
    .section {
      nav {
        .logo {
          display: $display;
        }

        .links {
          display: $display;
        }
      }
      .hero {
        display: $display;
      }
    }

    .links-two {
      @include flex-between;
    }

    .view {
      display: flex;
      width: 100%;
      height: 159px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 154px;
      color: white;
      flex-wrap: nowrap;
    }

    h4 {
      font-family: "Advent Pro" sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 29.9px;
      margin-bottom: 10px;
    }
    h3 {
      font-family: "Montserrat" open sans;
      font-size: 32px;
      font-weight: 600;
      line-height: 39.01px;
      margin-bottom: 10px;
    }

    background-image: url(../../assets/images/backgroundimage.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
  }

  .section {
    margin-left: 12vw;
    margin-right: 10vw;
    // max-width: 1920px;

    .view {
      display: $display;

      .icons {
        margin-top: 28px;
      }
    }
    .links-two {
      display: $display;
    }

    nav {
      @include flex-between;
      margin-top: 50px;
    }
    .links {
      @include flex-between;
      gap: 20px;
      a {
        font-family: "Montserrat", open sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 20.72px;
        text-align: center;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        //   width: 100px;
        //   height: 46px;
      }
      #contact-me {
        border: 4px solid white;
        border-radius: 30px;
        padding: 10px;
        text-align: center;
        color: black;
        background-color: white;
        width: 150px;
        margin-left: 20px;
      }
    }

    .hero {
      display: flex;
      .upper {
        @include height25;
        width: 100%;
      }

      .icons {
        @include height20;
      }
      h2 {
        @extend .rale40;
      }
      h3 {
        @extend .rale80;
        margin-top: 0px;
      }
      p {
        @extend .rale25;
        margin-top: 0px;
      }
      .photo img {
        width: 100%;
        //   height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30vw;
      }
    }
  }
}
